<!DOCTYPE html>
<html>
	<head>
		<link href ="css/project.css" rel ="stylesheet" type ="text/css">
	</head>
<body id ="home">

<h1>Letter for future</h1>


<br>

Addressee's Email：<input type="text" name="收件人Email" cols="20" value="">

<br>
<form action="action_page.php">
<textarea name="message" rows="10" cols="50">
</textarea>



<br>
Sender's name:<input type="text" name="">
<br>
Sender's Email：<input type="text" name="">
<br>
<br>
<p>西元年/月/日/時/分</p>
<div id="one">
		<input class="signup_field field_user_email"
				 id="user_email" name="user[email]" 
				 size="35" tabindex="2" type="text" placeholder="EX:2015/12/31/23/59">
		</div>


<button type="button" >submit</button>
</form> 


</body>
</html>
