<!DOCTYPE html>
<html>
	<head>
		<link href ="css/project.css" rel ="stylesheet" type ="text/css">
	</head>
<body id ="home">
<form action="action_page.php">
<div id=zero>
	<h1>Letter for future</h1>
</div>

<br>
<div id=one>
	Addressee's Email¡G<input type="text" name="email" size="35" tabindex="1" cols="20" value="">
</div>
<br>

<textarea tabindex="2"  style="font-size:18px; name="message" rows="20" cols="100">
</textarea>



<br>
<div id=one>
Sender's name:<input type="text" size="20" tabindex="3" name="">
</div>
<br>
<div id=one>
Sender's Email¡G<input type="text" size="35" tabindex="4" name="">
</div>
<br>
<br>
<div id = two>
YYYY/MM/DD/HH/MM 
</div>


<br>
<div id>
		
		<input class="signup_field field_user_email"
				 id="email" name="email" 
				 size="35" tabindex="5" type="text" placeholder="EX:2015/12/31/23/59" style="font-size:20px;>
		</div>

<br>

<div >
<button type="submit" size="10" tabindex="6">submit</button>
</div>
</form> 


</body>
</html>
