<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Simple Traveler</title>
<link href="styleForLogin.css" rel="stylesheet" type="text/css" >
</head>
<body>
		<div id="zero">
			<p>Letter for future</p>
		</div>
	
	
		<div id="one">
		<input class="signup_field field_user_email"
				 id="user_email" name="user[email]" 
				 size="35" tabindex="2" type="text" placeholder="E-mail">
		</div>
		<div id="two">
		<input class="signup_field field_user_password"
				 id="user_password" name="user[password]" 
				 size="35" tabindex="3" type="password" placeholder="Password">
		</div>

		
		<div id="four">
		<button type="submit" class="submit" tabindex="6">登  入</button>
		</div>
		
		<p>Or you can also:</p>
		<div id="five">
		<button type="submit" class="submit" 
				tabindex="7">註冊</button>
		</div>
</body>
</html>