<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Simple Traveler</title>
<link href="styleForLogin.css" rel="stylesheet" type="text/css" >
</head>
<body>
		<div id="zero">
			<p>Letter for future</p>
		</div>
	
	<form action="">
		<div id="one">
		<input class="signup_field field_user_email"
				 id="email" name="email" 
				 size="35" tabindex="1" type="text" placeholder="E-mail">
		</div>
		<div id="two">
		<input class="signup_field field_user_password"
				 id="password" name="password" 
				 size="35" tabindex="2" type="password" placeholder="Password">
		</div>

		
		<div id="four">
		<button type="submit" class="submit" tabindex="3">Login</button>
		</div>
		
		<p>Or you can also:</p>
		<div id="five">
		<button type="submit" class="submit" 
				tabindex="4">sign up</button>
		</div>
	</form>
</body>
</html>