<!DOCTYPE html>
<html>
	<head>
		<link href ="css/set.css" rel ="stylesheet" type ="text/css">
	</head>
<body id ="home">
<form action="">

	<div id="zero" text_align:center>
		<p>Letter for future</p>
	</div>
<br>

<div id="box">

<div id="one">
user's  name:<input type="text" name="name" id="name">
</div>
<div id="one">
user's  Email:<input type="text" name="email" id="email">
</div>
<div id="one">
user's password :<input type="text" name = "password" id="password">
</div>
<div id="button">
<button type="submit" class="submit" tabindex="6">submit</button>
</div>
 
</div>
</form>
 
</body>
</html>
